body{
    background: rgba(170, 170, 170, 0.2);
    
}
/* Shared styles */
.display-flex{
    display: flex;
}
.tittle{
    font-size: 1.2rem;
    margin-top: 0px;
    margin-bottom: 0px;

}
.price{
    font-size: 1.1rem;
}


.btn{
    color: white;
    background: rgb(186, 9, 9);
    padding: 10px;
    border-radius: 10px;
    border: none;
}

/* Nav bar Style */
.nav-bar{
    font-size: 1.8rem;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.nav-links ul li a{
    margin-right: 20px;
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
}
.nav-links ul{
    font-display: flex;
    list-style: none;
}
.link{
    text-decoration: none;
}
/* Banner styles */
.banner{
    margin: 0 auto;
    max-width: 1140px;
    justify-content: space-between;
}
.banner-detailes{
    max-width: 500px;

}

.banner-image{
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
}
.banner-image img{
    width: 440px;
    height: auto;
}

/* Icon container style */
.icon-container{
    max-width: 1140px;
    margin: 0 auto;
}
.icon-container img{
    margin-right: 50px;
}

/* popular-container styles */
.popular-collection{
    margin: 0 auto;
    font-size: 2rem;
    max-width: 1140px;
    text-align: center;
}

.popular-container{
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.items{
    width: 325px;
    background: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0, 0, 40, 0, rgba(0, 0, 0, 0.15);
}



/* MEDIA QUERY RESPONSIVE*/
@media screen and (max-width: 576px) {
    .nav-bar, .nav-items, .banner{
        flex-direction: column;
    }  
   .icon-container{
    flex-direction: column;
    margin-left: 120px;
    gap: 20px;
   }
   .icon-container img{
    width: 150px;
    
   }
   .popular-container{
        grid-template-columns: 1fr;
        text-align: center;
   }
}